<nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 hidden">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fas fa-key me-2"></i>Minecraft 插件授權管理系統
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user-circle"></i> <span id="current-username">管理員</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#" id="change-password-btn">
                                <i class="fas fa-key"></i> 修改密碼
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#" id="logout-btn">
                                <i class="fas fa-sign-out-alt"></i> 登出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>